In [1]:
from jinja2 import Environment, FileSystemLoader
import pandas as pd

In [2]:
environment = Environment(loader=FileSystemLoader("templates/"))
students =["Sona", "Vicente", "Andrew", "Jack", "Josh", "Wolfgang"]

In [3]:
new_students = pd.read_csv("templates/student_names.csv",header=None)

In [54]:
new_students

          0
0      Sona
1   Vicente
2    Andrew
3      Jack
4      Josh
5  Wolfgang

In [55]:
template = environment.get_template("group_member.html.j2")

for student in students:
    filename = f"group_member.html"
    content = template.render(students=new_students[0])
    with open(filename, mode="w", encoding="utf-8") as message:
        message.write(content)
        print(f"... wrote {filename}")

... wrote group_member.html
... wrote group_member.html
... wrote group_member.html
... wrote group_member.html
... wrote group_member.html
... wrote group_member.html